<app-header></app-header>
<main>
  <div class="home">
    <div class="container">
      <section class="about">
          <div class="about__title">
            <p class="about__slogan">Eco services in your area</p>
            <p class="about__motivation">Contribute to your healthy environment with responsible garbage sorting & waste disposal today</p>
            <a class="about__link" routerLink="/map"><button class="about__button"
              >Explore</button></a>
         </div>
      </section>
    </div>
    <img class="about__background" src="../../assets/two700px.png" alt="woman_with_garbage">
  </div>
</main> 